*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif
}
html{
    scroll-behavior: smooth;  
}

.logo{
    height: 35px;
    margin: 20px;
}
.main{
    flex-direction: column;
}
.main .box1{
    width: 95%;
    height: 47%;
}
.main .box2{
    width: 95%;
    height: 47%;
}

 .main{
    height: 85%;
}
.main .box1 h1{
    font-size: 215%;
    font-style: Bold;
    margin: 1% 3%;
    line-height: 1.2;
  }

 .main .box1 h2{
    font-size: 24px;
 }
 .main .box1 p{
    font-size: 0.9rem;
    margin:  2% 3%;
}
.main .box2 img{
    height: 90%;
}


/* ****************************************************************** */

.courses{
    /*height: 140%;*/
    height: 170%; 
}

.courses .list{
    flex-direction: column;
    height: 90%;

}
.courses .list .CMD{
     height: 35%;
     width: 70%;
     border: 2px solid rgba(108, 99, 255, 1) ;
     margin: 4% 0;
}

.courses .list .CMD img{
     margin-bottom: 7%;
}


/* ************************************************COMMUNITY******************************************************* */
/* ************************************************COMMUNITY******************************************************* */


.community .text{
    margin:  8% 7%;
    font-size: 80%;
}
.community .socials{
    flex-direction: column;
    height: 65%;
    width: 100%;
}
.community .socials .group{
    height: 30%;
    width: 66%;
}

.community .socials .group img{
    height: 60%;
    margin-right: 5%;
}



/* *************************************************FOOTER************************************************************** */
/* *************************************************FOOTER************************************************************** */

.footer{
    height: 17%;
}

.footer .social a img{
    margin: 15px 5px;
  }

.footer .name{
    font-size: 10px;
}

.footer .lowerblock{
    height: 30%;
}






























